# As migration may start before database is ready,
# this delay helps to prevent that
MIGRATION_DELAY_SECONDS=7

# This is for postgreSQL connection credentials
POSTGRES_USERNAME=test
POSTGRES_PASSWORD=test
POSTGRES_MAIN_DB=aphasia

# Database dashboord credentials
PGADMIN_EMAIL=sample@outlook.com
PGADMIN_PASSWORD=testSample123

# External facing port for API, database and database dashboard
API_PORT=44818
PGADMIN_PORT=44919

# This is default staff credentials, (auto-created when no staff exists)
DEFAULT_STAFF_USERNAME=staff
DEFAULT_STAFF_PASSWORD=adminadmin

# This pepper is used for hashing, use the following to generate:
# python -c "import secrets; print('Pepper:', secrets.token_hex(16))"
HASHING_PEPPER=asdasdasdasdasdsadas

# Used for encryption
# python -c 'import secrets; print("AES-128 Key:", secrets.token_bytes(16).hex())'
ENCRYPTION_KEY=asdasdasdasdasdasdasd

# Get from OpenAI API
OPENAI_API_KEY=asdasdasdasdsadasdasda